* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #111;
}

.header_top_mobile {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 15px;
    background-color: #000;
    color: #aeaeae;
}

.header_top_mobile img {
    margin: 0 auto;
}

.header_banner_mobile {
    position: relative;
}

.header_banner_mobile img {
    width: 100%;
    padding: 15px 15px;
}

.header_banner_mobile_text {
    color: aliceblue;
    position: absolute;
    bottom: 60px;
    left: 25px;
    font-size: 15pt;
}

.header_banner_mobile_text strong {
    color: #aeaeae;
    position: absolute;
    padding-top: 13px;
}

section h3 {
    color: aliceblue;
    padding: 25px 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    color: aliceblue;
}

.content_img_small {
    font-size: 8pt;
    padding: 0 5px;
}

.content_img_small p {
    color: #ff6500;
    padding-top: 5px;
    font-size: 12pt;
}

.content_img_small img {
    width: 150px;
}

.content_img_small h2 {
    padding-top: 5px;
}

.content_img_lager {
    font-size: 8pt;
    padding: 0 5px;
}

.content_img_lager img {
    width: 130px;
}

.content_img_lager h2 {
    padding-top: 5px;
}

.section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #000;
    margin-top: 15px;
    width: 100%;
    padding: 0 15px;
}

.footer_col1 {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.menu {
    padding-top: 15px;
}

.menu ul {
    display: flex;
    border-bottom: 1px solid #aeaeae;
    padding: 5px;
}

.menu ul li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #aeaeae;
} 

.footer_col2 p {
    color: #aeaeae;
    padding-top: 15px;
}

.footer_col3 {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

.footer_col3 a {
    color: #fff;
    width: 109px;
    height: 39px;
    text-decoration: none;
    border: 1px solid #ff6500;
    padding: 10px;
    border-radius: 1rem;
    text-align: center;
    background-color: #ff6500;
    margin: 5px;
}

@media only screen and (min-width:740px) and (max-width:1023px) {
    .menu ul {
        justify-content: space-around;
    }
}

@media only screen and (min-width:1024px) {
    .header_top_mobile {
        display: none;
    }

    .header_top_pc {
        height: 60px;
        width: 1500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_top_pc img {
        padding-left: 2em;
    }

    #buying {
        text-decoration: none;
        color: #fff;
        background-color: #ff6500;
        border-color: #ff6500;
        padding: 10px 25px;
        border-radius: 15px;
        margin-right: 15px;
    }

    #login {
        text-decoration: none;
        color: #aeaeae;
    }

    .header_main_pc {
        max-width: 1200px;
        margin: 0 auto;
    }

    .header_main_pc ul {
        display: flex;
        justify-content: space-between; 
    }

    .header_main_pc a {
        text-decoration: none;
        color: #aeaeae;
    }

    .header_main_pc li {
        list-style: none;
    }

    .header_banner_mobile {
        max-width: 1200px;
        margin: 0 auto;
    }

    section {
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer_rows {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer_col1 {
        flex-direction: column;
        justify-content:  flex-start;
        flex-wrap: nowrap;
    }

    .footer_col1 img {
        width:125px ;
        height: 29px;
        margin: 20px;
    }

    .menu a {
        padding: 28px;
    }

}