* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
}

.header_top_mobile {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 15px;
    background-color: #000;
    color: #aeaeae;
}

.header_top_mobile img {
    margin: 0 auto;
}

.header_banner_mobile {
    position: relative;
}

.header_banner_mobile img {
    width: 100%;
    padding: 15px 15px;
}

.header_banner_mobile_text {
    color: aliceblue;
    position: absolute;
    bottom: 60px;
    left: 25px;
    font-size: 15pt;
}

.header_banner_mobile_text strong {
    color: #aeaeae;
    position: absolute;
    padding-top: 13px;
}

section h3 {
    color: aliceblue;
    padding: 25px 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    color: aliceblue;
}

.content_img_small {
    font-size: 8pt;
    padding: 0 5px;
}

.content_img_small p {
    color: #ff6500;
    padding-top: 5px;
    font-size: 12pt;
}

.content_img_small img {
    width: 150px;
}

.content_img_small h2 {
    padding-top: 5px;
}

.content_img_lager {
    font-size: 8pt;
    padding: 0 5px;
}

.content_img_lager img {
    width: 130px;
}

.content_img_lager h2 {
    padding-top: 5px;
}

.section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
    padding: 0 15px;
}
